.task-container{
    background-color: rgb(250, 246, 246);
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: rgb(75, 74, 74);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.2px 2px;
    font-weight: bold;
    font-size: 16px;
}
.task-title{
    cursor: pointer;
}
.remove-task-button, .see-details-task-button{
    background-color: rgb(250, 246, 246);
    border: 0;
    font-size: 16px;
    color: indigo;
}